aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.4.0
chardet==4.0.0
Deprecated==1.2.13
discord==1.7.3
discord.py==1.7.3
idna==3.3
multidict==6.0.2
packaging==21.3
pyparsing==3.0.9
redis==4.3.1
typing_extensions==4.2.0
wrapt==1.14.1
yarl==1.7.2
